/* this css file will only style the homepage of our site */

#main-photo {
  margin: 10px;
  margin-top: 35px;
  height: 35%;
  max-height: 450px;
  float: right;
  border: solid 5px var(--primary)
}

#topbar {
  width: 100%;
  background-color: var(--accent);
  text-align: center;
  
}
.tablehover:hover{
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: underline;
}

#topbar a {
  color: black;
  font-weight: bold;
}