/* this css file will only style the homepage of our site */

#main-photo {
  display: block;
  margin-bottom: 10px; /*margin left & right set in js*/
  margin-top: 35px;
  height: 35%;
  max-height: 450px;
  float: right;
  border: solid 5px var(--primary);
}

#topbar {
  width: 100%;
  background-color: var(--accent);
  text-align: center;
  
}

#topbar a {
  color: black;
  font-weight: bold;
}