/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

:root{
  --primary: rgb(99, 34, 11);
  --secondary: rgba(216, 183, 134, 0.75);
  --accent: rgb(250, 242, 100);
}

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url(../img/BrownWood.png);
  background-position-y: center;
  background-size: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 0px #888;
  background-color: var(--secondary);
  
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 0px #888;
  
}

/*So I'm Michael Thomas (feel free to call me Misha. In fact from you I'd probably prefer it because you're cool) 
					and I guess the first thing about me I want to point out is that I'm 
					<b>very fucking socially awkward!</b> I know I have to talk to people in this class, 
					but that doesn't mean I'm good at approaching strangers.

					<br><br>

					Unfortunately, due to circumstances that, frankly, were very much in my control, 
					I am writing this on my own, both the words and code.
					
					<br><br>

					I am fully aware that this is gonna bite me in the ass later, but it's 6:30pm on the 9th, 
					I've been trying to reach out to people, and here we are :)))))
					
					<br><br>

					While I'm here, might as well do what I'm supposed to and write that paragraph about myself. 
					I'm a first year, but since I enjoy the subject matter and have room in my schedule, 
					I am here! Still hope I don't regret this :,) (seriously though, what makes this a higher 
					division course? It's all introductory stuff?????). When it comes to learning, I am very much a 
					"fuck around and find out" kind of guy, especially with programming. When I am bored, shit
					happens for better and (mostly) worse and that's why I animated the header.
					<span id="favcolor">Fuschia</span> is actually my favorite color, something that took me 
					wayy to long to actually realize about myself, but that's a story for another time. 
					I also really like Red Pandas (I mean have you <b>SEEN</b> one?!) and taking photos of nature. 
					If I get around to it, I might put some of my photos up here because why not?