/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

:root{
  --primary: rgb(99, 34, 11);
  --secondary: rgba(221, 216, 196, 0.75);
  --accent: rgba(150, 78, 31, 0.5);
}

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url(../img/brownwood.png);
  background-position-y: center;
  background-size: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
.content {
  padding: 50px;
  padding-top: 0px;
  margin: 1%;
  margin-bottom: 2%;
  border: solid 5px var(--primary);
  background-color: var(--secondary);
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 0px #888;
  
}

/*---Text Rules---*/

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

p {
  text-indent: 10px;
  color: black;
}

/*Links to react on highlight*/
a {
  color: rgb(40, 86, 184);
  text-decoration: none;
}
a:hover {
  color: rgb(60, 21, 157);
}

span.favcolor {
  color: rgb(255, 30, 150);
  text-decoration: solid;
}