/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#output p {
  color: rgba(87, 70, 36, 0.8);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  /*get overwritten in js. here as default*/
  text-decoration-color: rgba(87, 70, 36, 0.8);
}