/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

/* CSS for the Special class*/
.special {
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 5%;
  
  margin-bottom: 2%;
  border: solid 5px rgb(119, 9, 37);
  background-color: rgb(255, 30, 150, .75);
}
.special h2 {
  color: rgb(119, 9, 37);
}
.special p {
  color: rgb(119, 9, 37);
}