/*CSS for lab2present*/

.site-links {
  padding: 50px;
}

div.content {
  color: var(--primary);
  border: dashed 8px;
}

div#intro {
  height: var(miHeight);
}

/*--- Text Stuff ---*/

/*animation used by header on load in*/
@keyframes headerEaseIn {
  from {
    transform: translateY(-6dvh);
    letter-spacing: -1dvw;
  }

  to {}
}

h1#header {
  color: var(--primary);
  font-size: 15dvw;
  text-align: center;
  padding-bottom: 10dvh;
  padding-top: 6dvh;
  animation-name: headerEaseIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}